/******************Titulos y textos*******************/
.titleRecetas {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family:'Open Sans', sans-serif;
    margin-top: 50px;
}

/******************Tabla*******************/
.tble-Recetas {
    width: calc(95% - 30px);
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}

.tble-Recetas tr {
    border-bottom: 1px solid #000000;
}

/* Opcional: Si no quieres que la última fila tenga borde inferior */
.tble-Recetas tr:last-child {
    border-bottom: none;
}

/******************Botones*******************/
.btnEditRecetas, .btnEliminarRecetas {
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
}

.btnEditRecetas {
    background-color: #f2fa5e;
    border: 1px solid #b7c102;
    color: #000000;
}

.btnEliminarRecetas {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
}

.btnEditRecetas:hover {
    background-color: #ffe633;
}

.btnEliminarRecetas:hover {
    background-color: #f1aeb5;
}

.alert {
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: 6px solid #ffcc00;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-left: 6px solid #28a745;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.alert-icon {
    font-size: 20px;
}

/* =========================== */
/* Estilos para la tabla      */
/* =========================== */
table {
    width: calc(100% - 30px);
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}

th, td {
    border-right: 1px solid #000000;
}

th:last-child, td:last-child {
    border-right: none;
}

th {
    background-color: #4a342e;
    color: white;
    text-align: center;
    padding: 10px;
}
.thead{
    border-radius: 15px;
}

td {
    background-color: #d2b48c;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

/* =========================== */
/* Estilos para botones       */
/* =========================== */
.registrar-btn {
    background-color: #add8e6;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 20px;
    float: right;
    transition: all 0.2s ease;
    position: relative;
    top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.registrar-btn:active {
    top: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background-color: #9cc9d7;
}

.registrar-btn:hover {
    background-color: #b8e0eb;
    cursor: pointer;
}