{% extends "bases/base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="img-index-container">
    <img src="{{ url_for('static', filename='img/fondoIndex.png') }}" alt="Imagen de fondo para la pagina de inicio">
</div>

<div class="index-info-container">
    <div class="div-info1">
        <div class="mision">
            <h2>Misión</h2>
        </div>
        <p class="mision-info">Brindar a nuestros clientes la mejor experiencia en productos de repostería
            artesanal, combinando tradición y calidad en cada galleta. Nos esforzamos por utilizar ingredientes
            frescos y locales, asegurando sabores únicos que hagan sonreír en cada bocado.</p>
        <div class="line"></div>
    </div>
    <div class="div-info2">
        <div class="vision">
            <h2>Visión</h2>
        </div>
        <p class="vision-info">Ser reconocidos como la marca líder en galletas artesanales, conocida por su
            compromiso con la calidad y la innovación en sabores. Aspiramos a que nuestras galletas no solo sean
            un
            producto, sino una experiencia de sabor que une a las personas y celebra los momentos más dulces de
            la
            vida.</p>
        <div class="line"></div>
    </div>
    <div class="div-info3">
        <div class="valores">
            <h2>Valores</h2>
        </div>
        <p class="valores-info">Calidad artesanal: Cada galleta es elaborada con atención al detalle y respeto
            a
            las recetas tradicionales.<br>Compromiso con el cliente: La satisfacción y confianza de nuestros
            clientes que son la base de nuestro trabajo.</p>
        <div class="line"></div>
    </div>
</div>
{% endblock %}