{% extends "/bases/baseLogin.html" %} {% block title %}Iniciar Sesion{% endblock %}
{% block content %}

<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1100; max-width: 500px;">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>

<div class="img-container"><img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" alt="Logo don galleto" ></div>

<div class="main">
	<div class="button-back">
	<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/arrow-small-left.png')}}" alt="Logo don galleto" ></a>
	</div>
	<input type="checkbox" id="chk" aria-hidden="true" />
	
	<div class="login">
		<form method="POST" action="/login">
			<label for="chk" aria-hidden="true">Iniciar sesión</label>
			<input type="email" name="email" placeholder="Email" required />
			<input type="password" name="password" placeholder="Contraseña" required />
			<button type ="submit" class="buttonLogin">Iniciar sesión</button>
		</form>
	</div>
	
	<div class="signup">
		<form method="POST" action="/register">
			<label for="chk" aria-hidden="true">Registrarse</label>
			<input type="text" name="name" placeholder="Nombre" required />
			<input type="email" name="email" placeholder="Email" required />
			<input type="tel" name="phone" pattern="\d{10}" title="El número debe tener exactamente 10 dígitos" placeholder="Telefono" required />
			<input type="password" name="password" minlength="8" placeholder="Contraseña" required />
			<div class="captcha-container">
				{{captcha_html(captcha)|safe}}
			</div>
			<input type="hidden" name="role" value="cliente" />
			<button type="submit" class="buttonLogin">Registrarse</button>
		</form>
	</div>
</div>

{% endblock %}
