{% extends "/admin/baseAdmin/BaseAdmin.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1 style="margin-top: 10px; font-weight: bold; font-family: 'Charm', cursive;  font-size: 60px; color: #3E302C; margin-top: 25px; ">Dashboard</h1><br>


    <div class="charts-section" style="display: flex; gap: 15px; justify-content: center; flex-wrap: wrap; font-family: 'Open Sans', sans-serif; font-weight: bold;  ">
        <div class="chart-card" style="background: #4E3629; color: white; padding: 15px; border-radius: 8px; width: 45%; font-family: 'Open Sans', sans-serif; font-weight: bold;">
            <h3 class="text-white fw-bold">Tipos de ventas</h3>
            <canvas id="ventasChart" style="background: #E3C7A1; border-radius: 8px; width: 100%; height: 250px;"></canvas>
        </div>
    
        <div class="chart-card" style="background: #D7B89D; padding: 15px; border-radius: 8px; width: 45%; font-family: 'Open Sans', sans-serif; font-weight: bold;">
            <h3 class="fw-bold">Ganancias por los ultimos 5 dias</h3>
            <canvas id="gananciasChart" style="background: #E3C7A1; border-radius: 8px; width: 100%; height: 250px;"></canvas>
        </div>
    </div>
    <br>
    <div class="container" style="background: #936A4B; padding: 20px; border-radius: 10px; font-family: 'Open Sans', sans-serif; font-weight: bold;"> 
        <div class="row">
            <h3 class="text-white text-center fw-bold" style="margin: 10px;">Productos más vendidos TOP 3</h3>
            {% for galleta in galletas %}
            <div class="col-md-4">
                <div class="product">
                    <h4 class="product-text" style="font-weight: bold;">{{ galleta[1] }}</h4>


                    <div class="product-container">
                        <img class="imagenGalleta" src="{{ galleta[2] }}" alt="{{ galleta[1] }}">
                        <div class="product-info">
                            <div style="font-size: 1.1rem;">Cantidad vendida: {{ galleta[3] | int }} galletas
                            </div>
                        <div style="font-size: 1.1rem; ">Ganancias: ${{ galleta[4] }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    
    <div class="container gestion-container">
        <h3 class="text-center mb-4"><i class="fas fa-cogs me-2"></i>Gestión del Sistema</h3>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card text-white bg-dark mb-3 shadow">
                    <div class="card-header text-center">
                        <i class="fas fa-users-cog me-2"></i>Usuarios
                    </div>
                    <div class="card-body text-center">
                        <a href="/gestionUsuarios" class="btn btn-light">
                            <i class="fas fa-user-gear me-1"></i> Gestionar usuarios
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card text-white bg-dark mb-3 shadow">
                    <div class="card-header text-center">
                        <i class="fas fa-address-book me-2"></i>Clientes
                    </div>
                    <div class="card-body text-center">
                        <a href="/clientes" class="btn btn-light">
                            <i class="fas fa-user-friends me-1"></i> Gestionar clientes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='functions/funcionesDashboard.js') }}" defer></script>
<script id="presentacionesData" type="application/json">
    {{ presentaciones | tojson }}
</script>

<script id="gananciasData" type="application/json">
    {{ ganancias | tojson }}
</script>
{% endblock %}