{% extends "/admin/baseAdmin/BaseAdmin.html" %}
{% block title %}Principal{% endblock %}
{% block content %}
<body>
    <h1>Dashboard</h1>

    <div class="charts-section">
        <div class="chart-card" style="background: #4E3629; color: white;">
            <h2>Presentaciones más vendidas TOP 5</h2>
            <canvas id="ventasChart" style="background: #E3C7A1; border-radius: 10px; color: black;"></canvas>
        </div>

        <div class="chart-card" style="background: #D7B89D;">
            <h2>Ganancias por día</h2>
            <canvas id="gananciasChart" style="background: #E3C7A1;  border-radius: 10px;"></canvas>
        </div>
    </div>


    <div class="container" style="background: #936A4B; padding: 20px; border-radius: 10px;">
        <div class="row">
            <h2>Productos más vendidos TOP 5</h2>
          <div class="col-md-4">
            <div class="product">
                <h3 class="product-text">Alfajores</h3>
                <div class="product-container">
                    <img class="imagenGalleta" src="static\imgGalletas\GalletaAlfajores.webp" alt="Alfajores">
                    <div class="product-info">
                        <div>Cantidad: 600</div>
                        <div>Ganancias: $2400</div>
                    </div>
                </div>
           </div>
            <div class="product">
                <h3 class="product-text">Brownie</h3>
                <div class="product-container">
                    <img src="static\imgGalletas\GalletaBrownie.webp" alt="Brownie">
                    <div class="product-info">
                        <div>Cantidad: 450</div>
                        <div>Ganancias: $1800</div>
                    </div>
                </div>
            </div>

            </div>
            <div class="col-md-4">
            <div class="product">
                <h3 class="product-text">Mamut</h3>
                <div class="product-container">
                    <img src="static\imgGalletas\GalletaMamut.webp" alt="Mamut" >
                    <div class="product-info">
                        <div>Cantidad: 550</div>
                        <div>Ganancias: $2200</div>
                    </div>
                </div>
            </div>
            <div class="product">
                <h3 class="product-text">Chispas de chocolate</h3>
                <div class="product-container">
                    <img src="static\imgGalletas\GalletaChispasChocolate.webp" alt="Chispas de chocolate">
                    <div class="product-info">
                        <div>Cantidad: 400</div>
                        <div>Ganancias: $1600</div>
                    </div>
                </div>
            </div>

            </div>
            <div class="col-md-4">
            <div class="product">
                <h3 class="product-text">Sorpresa de nuez</h3>
                <div class="product-container">
                    <img src="static\imgGalletas\GalletaNuez.webp" alt="Sorpresa de nuez">
                    <div class="product-info">
                        <div>Cantidad: 500</div>
                        <div>Ganancias: $2000</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<div class="row mt-4">
    <h3 class="text-center">Gestión del Sistema</h3>
    
    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Usuarios</div>
            <div class="card-body text-center">
                <a href="/gestionUsuarios" class="btn btn-light">Gestionar usuarios</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Proveedores</div>
            <div class="card-body text-center">
                <a href="/proveedores" class="btn btn-light">Gestionar proveedores</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Clientes</div>
            <div class="card-body text-center">
                <a href="/clientes" class="btn btn-light">Gestionar clientes</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Recetas</div>
            <div class="card-body text-center">
                <a href="/recetas" class="btn btn-light">Gestionar recetas</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Inventario de insumos</div>
            <div class="card-body text-center">
                <a href="/inventario-insumos" class="btn btn-light">Gestionar inventario</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Inventario producto terminado</div>
            <div class="card-body text-center">
                <a href="/inventario_productos" class="btn btn-light">Gestionar productos</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}