{% extends '/client/baseCliente/baseCliente.html' %}

{% block content %}
<nav class="breadcrumb">
    <a href="{{url_for('home')}}">INICIO</a>
    <span class="separator"><i class="fas fa-chevron-right"></i></span>
    <a href="{{url_for('cliente_dashboard')}}">PRODUCTOS</a>
</nav>

<h1 class="title-client">Portal de Clientes</h1>
<h6 class="subtitle-client">Productos</h6>

<div class="product-container">
    {% if data %}
        {% block catalogo %}
        {% for galleta in data %}
        <div class="product-card">
            <div class="product-image">
                <img src="/{{ galleta[4] }}" alt="{{ galleta[0] }}">
            </div>
            <div class="product-info">
                <h3 class="product-title">{{ galleta[1] }}</h3>
                <p class="product-price">{{ galleta[2] }} $/U</p>

                    <div class="product-actions">
                        
                        <form action="{{ url_for('detalle_producto') }}" method="post">
                            <input type="hidden" name="galleta" value='{{ galleta | tojson | safe }}'>
                            <button type="submit" class="add-to-cart btn btn-success">
                                <i class="fas fa-shopping-cart me-2"></i>
                                Agregar al carrito
                            </button>
                        </form>
                    </div>

            </div>
        </div>
        {% endfor %}
        {% endblock %}
    {% else %}
        <div class="error-alert">
            <div class="error-icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="error-content">
                <h3>Error en la Carga de Productos</h3>
                <p>Lo sentimos, no se han podido cargar los productos en este momento. 
                Por favor, intenta recargar la página o contacta con soporte técnico.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}