{% extends '/client/baseCliente/baseCliente.html' %}

{% block content %}
<nav class="breadcrumb">
    <a href="{{url_for('home')}}">INICIO</a>
    <span class="separator"><i class="fas fa-chevron-right"></i></span>
    <a href="{{url_for('cliente_dashboard')}}">PRODUCTOS</a>
    <span class="separator"><i class="fas fa-chevron-right"></i></span>
    <a href="#">HISTÓRICO</a>
</nav>
<h1 class="titulo-historico">Histórico de compras de {{ nombreCliente }}</h1>

{% if historico %}
    <table class="tabla-compras">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Tipo de Venta</th>
                <th>Cantidad Vendida</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                <th>Fecha de compra</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in historico_compras %}
            <tr>
                <td>{{ compra['nombreGalleta'] }}</td>
                <td>{{ compra['tipoVenta'] }}</td>
                <td>{{ compra['descripcion_cantidad'] }}</td>
                <td>{{ compra['PrecioUnitarioVendido'] }} $</td>
                <td>{{ compra['total_venta'] }} $</td>
                <td>{{ compra['fechaVenta'].strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="sin-historial">No se encontró historial de compras para este cliente.</p>
{% endif %}
{% endblock %}