<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Don galleto - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/stylesHeader/styleHeaderConocenos.css')}}" />
		<link rel="icon" href="{{ url_for('static', filename='img/Don_galleto_icon.png')}}" type="image/x-icon"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}"/>
		<link rel="stylesheet" href="/static/css/stylesConocenos.css">
		
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>
	<body class="bodyConocenos">
        {% include "/bases/headerConocenos.html" %}
        {% block content %}{% endblock %}
		{% include "bases/footer.html" %}
    </body>
</html>
