<footer>
    <div class="footer-container">
        <!-- Sección de Información de Contacto -->
        <div class="footer-section contact-info">
            <div class="footer-item">
                <i class="fas fa-map-marker-alt"></i>
                <div>
                    <h4>Encuéntranos</h4>
                    <p>Universidad Tecnológica de León, <br> 37254, León, Gto. <br> México</p>
                </div>
            </div>
            <div class="footer-item">
                <i class="fas fa-phone-alt"></i>
                <div>
                    <h4>Contáctanos</h4>
                    <p>+52 477 864 45152</p>
                </div>
            </div>
            <div class="footer-item">
                <i class="fas fa-envelope"></i>
                <div>
                    <h4>Email</h4>
                    <p>dongalleto@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- Sección de Enlaces -->
        <div class="footer-section footer-links">
            <h4>Información</h4>
            <ul>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="/sobreNosotros">Conócenos</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
            </ul>
        </div>

        <!-- Sección de Redes Sociales -->
        <div class="footer-section social-media">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <!-- Parte Inferior del Footer -->
    <div class="footer-bottom">
        <a href="#" id="back-to-top"><i class="fas fa-arrow-up"></i> Subir a Inicio</a>
        <p>&copy; 2025 Don Galleto. Todos los derechos reservados.</p>
    </div>
</footer>
