<header>
	{% if user[4] == "cliente" %}
	<div class="header-container">
		<a href="{{url_for('home')}}" class="header-item">
			<img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" alt="Logo Don Galleto"
				class="header-logo" />
		</a>
		<div class="header-icons">
			<div class="dropdown">
				<a href="#" class="header-item dropdown-toggle" id="userDropdown" onclick="toggleDropdown(event)">
					<img src="{{url_for('static', filename='img/usuario.png')}}" alt="Iniciar sesión"
						class="header-icon" />
				</a>
				<div class="dropdown-menu" id="userDropdownMenu">
					<a href="{{url_for('historico_dashboard')}}" class="dropdown-item">Mi histórico de compras</a>
					<form method="POST" action="/logout">
						<button type="submit" class="dropdown-item logout-btn">Cerrar sesión</button>
					</form>
					
				</div>
			</div>

			<a href="{{url_for('carrito_dashboard')}}" class="header-item">
				<img src="{{url_for('static', filename='img/compra.png')}}" alt="Carrito de compras"
					class="header-icon" />
			</a>
		</div>
	</div>
	{% else %}
	<div class="header2">
		<div class="header-container-2">
			<a class="logoDonGalleto" href="{{url_for('admin_dashboard')}}"><img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" alt="Logo don galleto" /></a>
			
			<form method="POST" action="/logout">
				<button type="submit" class="logout-btn-2">Cerrar sesion</button>
			</form>
		</div>
	</div>
	{% endif %}
</header>