<header>
	{% if user[4] == "cliente" %}
	<div class="header-container">
		<a href="{{url_for('home')}}" class="header-item">
			<img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" alt="Logo Don Galleto"
				class="header-logo" />
		</a>
		<div class="header-icons">
			<div class="dropdown">
				<a href="#" class="header-item dropdown-toggle" id="userDropdown" onclick="toggleDropdown(event)">
					<img src="{{url_for('static', filename='img/usuario.png')}}" alt="Iniciar sesión"
						class="header-icon" />
				</a>
				<div class="dropdown-menu" id="userDropdownMenu">
					<a href="{{url_for('historico_dashboard')}}" class="dropdown-item">Mi histórico de compras</a>
					<form id="logoutForm" method="POST" action="/logout" style="display: none;"></form>
					<a href="#" class="dropdown-item" onclick="cerrarSesion(event)">Cerrar sesión</a>
				</div>
			</div>

			<a href="{{url_for('carrito_dashboard')}}" class="header-item">
				<img src="{{url_for('static', filename='img/compra.png')}}" alt="Carrito de compras"
					class="header-icon" />
			</a>
		</div>
	</div>
	{% else %}
	<div class="header2">
		<div class="header-container-2">
			<a class="logoDonGalleto" href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" alt="Logo don galleto" /></a>
			<a href="#" class="header-item-2">Usuarios</a>
			<a href="#" class="header-item-2">Proveedores</a>
			<a href="{{url_for('registerProveedor')}}" class="header-item-2">Clientes</a>
			<a href="{{url_for('gestion_insumos')}}" class="header-item-2">Recetas</a>
			<a href="{{url_for('insumos_inventory')}}" class="header-item-2">Inventario de Insumos</a>
			<a href="{{url_for('insumos_inventory')}}" class="header-item-2">Inventario producto terminado</a>

			<form method="POST" action="/logout">
				<button type="submit" class="logout-btn-2">Cerrar sesion</button>
			</form>
		</div>
	</div>

	{% endif %}
</header>