<footer>
	<div class="footer">
		<div class="row">
			<a href="#"><i class="fa fa-facebook">a</i></a>
			<a href="#"><i class="fa fa-instagram">a</i></a>
			<a href="#"><i class="fa fa-youtube">a</i></a>
			<a href="#"><i class="fa fa-twitter">a</i></a>
		</div>

		<div class="row">
			<ul>
				<li><a href="#">Contactanos</a></li>
				<li><a href="#">Aviso de privacidad</a></li>
				<li><a href="#">Conoce a los desarrolladores</a></li>
			</ul>
		</div>

		<div class="row">
			<p>&copy; 2025 Don Galleto. Todos los derechos reservados.</p>
		</div>
	</div>
</footer>
