<footer>
	<div class="footer">
		<div class="footer">
			<div class="iconoUbicacion">
				<i class="fas fa-map-marker-alt"></i><span class="">Ubicación</span>
				<span>Universidad Tecnológica de León, 37254, León, Gto, México </span>
			</div>
			<div class="iconoContacto">
				<i class="fa-solid fa-circle-user"></i><span>Contactanos</span>
				<span>47786445152</span>
			</div>
			<div class="footer-right">
				<i class="fa-solid fa-envelope"></i><span>dongalleto@gmail.com</span>
			</div>
		</div>
		

		<div class="row">
			<ul>
				<li><a href="#">Aviso de privacidad</a></li>
				<li><a href="#">Conoce a los desarrolladores</a></li>
			</ul>
		</div>

		<div class="row">
			<p>&copy; 2025 Don Galleto. Todos los derechos reservados.</p>
		</div>
	</div>
</footer>
