<header>
	<div class="header-container">
		<a href="produccion" class="logoDG"> <img src="{{url_for('static', filename='img/DonGalleto-logo.png')}}" />
			<a href="{{url_for('getInveGalletas')}}" class="header-item">Inventario de Galletas</a>
			<div class="dropdown">
				<a href="#" class="header-item" id="produccionDropdown" onclick="toggleDropdown(event)">
					Producción
				</a>
				<div class="dropdown-menu" id="produccionDropdownMenu">
					<a href="{{url_for('moduloProduccion')}}" class="dropdown-item">Módulo de Producción</a>
					<a href="#" class="dropdown-item">Ordenes de producción</a>
				</div>
			</div>
			<a href="{{url_for('registerProveedor')}}" class="header-item">Proveedores</a>
			<a href="#" class="header-item">Recetas</a>
			<a href="{{url_for('gestion_insumos')}}" class="header-item">Gestion de insumos</a>
			<a href="{{url_for('insumos_inventory')}}" class="header-item">Inventario de Insumos</a>
			<form method="POST" action="/logout">
				<button type="submit" class="logout-btn">Cerrar sesion</button>
			</form>
	</div>

</header>