{% extends '/production/baseProduccion/baseProduccion.html' %}
{% block title %}Proveedores{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container">
    <section class="tble-Proveedores">
        <h1 class="titleProveedores">Proveedores</h1>
        <div class="inventario-container" style="display: flex; gap: 20px;">
            <div class="tabla-inventario" style="flex: 1; position: relative;">
                <div style="text-align: right; margin-bottom: 10px;">
                    <button class="registrar-btn" type="button" data-bs-toggle="modal" data-bs-target="#registroModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        Registrar
                    </button>
                </div>

                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="statusSwitch">
                        <span class="slider round"></span>
                    </label>
                    <span class="switch-label" id="statusLabel">Activos</span>
                </div>

                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Contacto</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.nombreProveedor }}</td>
                            <td>{{ proveedor.contacto }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.direccion }}</td>
                            <td>
                                <button class="btnEditProveedores" data-bs-toggle="modal"
                                    data-bs-target="#editProveedorModal" idProveedor="{{ proveedor['idProveedor'] }}"
                                    nombreProveedor="{{ proveedor['nombreProveedor'] }}"
                                    contacto="{{ proveedor['contacto'] }}" telefono="{{ proveedor['telefono'] }}"
                                    direccion="{{ proveedor['direccion'] }}">
                                    <i class="icon fas fa-edit"></i>
                                    Modificar
                                </button>

                                <button class="btnEliminarProveedores" data-bs-toggle="modal"
                                    data-bs-target="#deleteProveedorModal" data-id="{{ proveedor['idProveedor'] }}"
                                    nombreProveedor="{{ proveedor['nombreProveedor'] }}"
                                    contacto="{{ proveedor['contacto'] }}" telefono="{{ proveedor['telefono'] }}"
                                    direccion="{{ proveedor['direccion'] }}">
                                    <i class="icon fas fa-trash"></i>
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</div>

<!-- Modal Registrar Proveedor -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formRegistrarProveedor" action="/registerProveedor" method="POST"
                    class="container mt-4 p-4 border rounded bg-light" novalidate>
                    <h2 class="text-center mb-4">Registrar Proveedor</h2>

                    <div class="mb-3">
                        <label for="nombreProveedor" class="form-label">Nombre del Proveedor</label>
                        <input type="text" class="form-control" id="nombreProveedor" name="nombreProveedor" required
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$"
                            title="Solo letras y espacios permitidos (2-50 caracteres)" maxlength="50">
                        <div class="invalid-feedback">Por favor ingresa un nombre del proveedor de insumos correcto
                            (solo letras y espacios).</div>
                    </div>

                    <div class="mb-3">
                        <label for="contacto" class="form-label">Persona de Contacto</label>
                        <input type="text" class="form-control" id="contacto" name="contacto" required
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$"
                            title="Solo letras y espacios permitidos (2-50 caracteres)" maxlength="50">
                        <div class="invalid-feedback">Por favor agrega el nombre de una persona de válido (solo letras y
                            espacios).</div>
                    </div>

                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" required
                        pattern="^[0-9]{10}$" title="Ingresa un número de 10 dígitos" maxlength="10">
                    <div class="invalid-feedback">Por favor ingresa un número telefónico válido (10 dígitos).</div>
                    </div>

                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required
                            maxlength="100" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ0-9\s\-\_\.]{2,100}$"
                            title="Nombre válido (letras, números, guiones, puntos y espacios)">
                        <div class="invalid-feedback">Por favor ingrese una dirección válida (2-100 caracteres).</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Proveedor -->
<div class="modal fade" id="editProveedorModal" tabindex="-1" aria-labelledby="editProveedorLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="editProveedorForm" method="POST" action="/modifyProveedor" novalidate>
                    <input type="hidden" id="IdProveedor" name="idProveedor">
                    <h2 class="text-center mb-4">Modificar Proveedor</h2>

                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" required
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$"
                            title="Solo letras y espacios permitidos (2-50 caracteres)" maxlength="50">
                        <div class="invalid-feedback">Por favor ingresa un nombre del proveedor de insumos correcto
                            (solo letras y espacios).</div>
                    </div>

                    <div class="mb-3">
                        <label for="Contacto" class="form-label">Contacto</label>
                        <input type="text" class="form-control" id="Contacto" name="Contacto" required
                            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}$"
                            title="Solo letras y espacios permitidos (2-50 caracteres)" maxlength="50">
                        <div class="invalid-feedback">Por favor agrega el nombre de una persona de válido (solo letras y
                            espacios).</div>
                    </div>

                    <div class="mb-3">
                        <label for="Telefono" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="Telefono" name="Telefono" required
                            pattern="^[0-9]{10}$" title="Ingresa un número de 10 dígitos" maxlength="10">
                        <div class="invalid-feedback">Por favor ingresa un número telefónico válido (10 dígitos).</div>
                    </div>

                    <div class="mb-3">
                        <label for="Direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="Direccion" name="Direccion" required
                            maxlength="100" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ0-9\s\-\_\.]{2,100}$"
                            title="Nombre válido (letras, números, guiones, puntos y espacios)">
                        <div class="invalid-feedback">Por favor ingrese una dirección válida (2-100 caracteres).</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Modificar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal para eliminar proveedores -->
<div class="modal fade" id="deleteProveedorModal" tabindex="-1" aria-labelledby="deleteProveedorLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="deleteProveedorForm" method="POST" action="/eliminarProveedor">
                    <input type="hidden" id="deleteIdProveedor" name="idProveedor">
                    <h2 class="text-center mb-4">Eliminar Proveedor</h2>
                    <div class="mb-3">
                        <p>¿Está seguro que desea eliminar al siguiente proveedor?</p>
                        <p><strong>Nombre:</strong> <span id="deleteNombre"></span></p>
                        <p><strong>Contacto:</strong> <span id="deleteContacto"></span></p>
                        <p><strong>Teléfono:</strong> <span id="deleteTelefono"></span></p>
                        <p><strong>Dirección:</strong> <span id="deleteDireccion"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='functions/funcionesProveedores.js')}}"></script>

{% endblock %}